* {
	box-sizing: border-box;
}

html,
body {
    min-height: 100% !important;
    height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

#wrapper {
	width: 100%;
	height: 100%;
}

.hide {
	display: none !important;
}

/* begin header */

	header {
		background: #232324;
		color: #ffffff;
		text-align: center;
	}

	#hamburgers {
		border-bottom: 1px solid #fff;
		padding: 10px;
	}

	#hamburgers div {
		display: inline-block;
		margin: 0 3px;
		padding: 0 3px 0 0;
	}

	#hamburgers div:hover {
		background: #ff9000;
		border-radius: 10px;
		cursor: pointer;
	}

	#hamburgers div * {
		line-height: 30px;
		vertical-align: middle;
	}

	#hamburgers div img {
		height: 32px;
		width: 32px;
		background: #ffffff;
		border-radius: 10px;
		margin-right: 10px;
	}

	#neighborhoods-container {
		display: inline-block;
	}

	#neighborhoods {
		margin: 0;
		padding: 0;
	}

	#neighborhoods li {
		display: inline-block;
		padding: 30px;
		cursor: pointer;
		color: #cccccc;
	}

	#neighborhoods li.active {
		background: #29961f;
		color: #ffffff;
	}

	

/* end header */

/* begin aside */

	aside {
		width: 25%;
		min-width: 200px;
		padding: 10px;
		position: absolute;
		clear: both;
		left: 0;
		z-index: 1;
		background: #ffffff;
	}

	aside ul {
		list-style-type: none;
		padding: 0;
	}

	aside ul li {
		border-bottom: 1px dotted #ccc;
    	padding: 7px;
	}

	aside ul li:hover {
		background: #4286f4;
		cursor: pointer;
	}

	aside input {
		width: 100%;
		background: #f9f9f9;
		border: 1px solid #000000;
		border-radius: 5px;
	}

/* end aside */

/* begin map container */

.map-container {
	float: left;
	width: 100%;
	height: 500px;
}

#map {
	width: 100%;
	height: 100%;
}

/* end map container */